Assignment_Biswayan(20BEC10010)/Assignment3/flows.json
[
    {
        "id": "f66590709797619b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85a7e54c7a024641",
        "type": "ibmiot in",
        "z": "f66590709797619b",
        "authentication": "apiKey",
        "apiKey": "f590ee0f8703514b",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9efd871ba49d4590",
                "ec4a9abb0f8fdd42"
            ]
        ]
    },
    {
        "id": "9efd871ba49d4590",
        "type": "function",
        "z": "f66590709797619b",
        "name": "temp",
        "func": "msg.payload = msg.payload.temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "62ed1b1d58056ff9",
                "ee69d7cb3fc7cd20"
            ]
        ]
    },
    {
        "id": "ec4a9abb0f8fdd42",
        "type": "function",
        "z": "f66590709797619b",
        "name": "Humid",
        "func": "msg.payload = msg.payload.Humid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "62ed1b1d58056ff9",
                "2bbe94d78ae1c5c7"
            ]
        ]
    },
    {
        "id": "9b3ecf5e6fd7feed",
        "type": "inject",
        "z": "f66590709797619b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "62ed1b1d58056ff9"
            ]
        ]
    },
    {
        "id": "62ed1b1d58056ff9",
        "type": "debug",
        "z": "f66590709797619b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "2bbe94d78ae1c5c7",
        "type": "ui_gauge",
        "z": "f66590709797619b",
        "name": "",
        "group": "3b237663657b9e91",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee69d7cb3fc7cd20",
        "type": "ui_chart",
        "z": "f66590709797619b",
        "name": "",
        "group": "3b237663657b9e91",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bda17e91f20ee610",
        "type": "ui_button",
        "z": "f66590709797619b",
        "name": "",
        "group": "3b237663657b9e91",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lighton",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "45bfd650d0d160f5",
                "62ed1b1d58056ff9"
            ]
        ]
    },
    {
        "id": "8a9d4003967e8037",
        "type": "ui_button",
        "z": "f66590709797619b",
        "name": "",
        "group": "3b237663657b9e91",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lightoff",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "45bfd650d0d160f5",
                "62ed1b1d58056ff9"
            ]
        ]
    },
    {
        "id": "45bfd650d0d160f5",
        "type": "ibmiot out",
        "z": "f66590709797619b",
        "authentication": "apiKey",
        "apiKey": "f590ee0f8703514b",
        "outputType": "cmd",
        "deviceId": "1234",
        "deviceType": "abcd",
        "eventCommandType": "command",
        "format": "String",
        "data": "Data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "f590ee0f8703514b",
        "type": "ibmiot",
        "name": "IBMiotapi",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "3b237663657b9e91",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f60ec4c23071e1dd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f60ec4c23071e1dd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]